* {
    margin: 0px;
    padding: 0px;
}

a i {
    font-size: 40px;
    margin: 5px;
    color: rgb(140, 36, 36);
}

img {
    width: 250px;
    height: 250px;
}

main {
    width: 100%;
    height: 80vh;
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

button {
    background-color: rgba(255, 255, 255, 0.623);
}

.click:hover{
	-webkit-animation: 0.7s click 1;
}

@-webkit-keyframes click{
	25%, 75%{
		-webkit-transform:scale(0.9);
	}
	50%{
		-webkit-transform:scale(1);
	}
}

.item_uno {
    display: inline;
}

a h4 {
    color: black;
}

@media screen and (max-width: 679px) {
    a i {
        font-size: 20px;
    }

    main {
        height: 86vh;
    }

    img {
        width: 150px;
        height: 150px;
    }

    button{
        margin: 15px;
    }

    .container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 680px) and (max-width: 1200px) {
    a i {
        font-size: 33px;
    }

    main {
        height: 84vh;
    }

    img {
        width: 200px;
        height: 200px;
    }

    button{
        margin: 15px;
    }

    .container {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}