* {
    margin: 0px;
    padding: 0px;
}

a i {
    font-size: 40px;
    margin: 5px;
    color: rgb(140, 36, 36);
}

main {
    width: 100%;
    height: 80vh;
}

section .texto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.texto {
    width: 100%;
    min-height: 60vh;
}

p {
    width: 50%;
    background-color: rgba(251, 240, 240, 0.664);
    border-radius: 10px;
    font-family: cursive;
    font-size: 15px;
    padding: 10px;
    text-align: justify;
}

@media screen and (min-width: 280px) and (max-width: 679px) {
    a i {
        font-size: 20px;
    }

    main {
        height: 86vh;
    }

    .nosotros_texto {
        width: 80%;
    }

    p {
        font-size: 12px;
    }
}

@media screen and (min-width: 680px) and (max-width: 1200px) {
    a i {
        font-size: 33px;
    }

    main {
        height: 86vh;
    }

    .nosotros_texto {
        width: 80%;
    }

    p {
        font-size: 20px;
    }
}