* {
    margin: 0px;
    padding: 0px;
}

a i {
    font-size: 40px;
    margin: 5px;
    color: rgb(140, 36, 36);
}

.boton_ {
    font-family: cursive;
    font-size: 25px;
    color: rgb(140, 36, 36);
    text-decoration-line: none;
}

main {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article {
    font-family: cursive;
    font-size: x-large;
    background-color: rgba(239, 224, 206, 0.6);
    color: red;
    text-align: center;
    margin-bottom: 50px;
}

.formulario {
    font-family: cursive;
    font-size: large;
    width: 200px;
    padding: 5px;
    background-color: rgba(239, 224, 206, 0.6);
}

button h3 i {
    font-family: cursive;
    font-size: medium;
    border: solid 3px black;
    width: 190px;
    height: 20px;
    justify-content: center;
}