* {
    margin: 0px;
    padding: 0px;
}

a i {
    font-size: 40px;
    margin: 5px;
    color: rgb(140, 36, 36);
}

.boton_ {
    font-family: cursive;
    font-size: 25px;
    color: rgb(140, 36, 36);
    text-decoration-line: none;
}

main {
    width: 100vw;
    height: 80vh;
}

.contenedor_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article {
    font-family: cursive;
    font-size: x-large;
    color: rgb(116, 0, 0);
    text-align: center;
    margin-bottom: 50px;
    padding: 5px;
    box-shadow: 8px 8px 10px 4px rgba(41, 41, 41, 0.61);
}

.formulario {
    font-family: cursive;
    font-size: 20px;
    width: 210px;
    padding: 10px;
    background-color: rgba(163, 103, 103, 0.6);
    border-radius: 10px;
}

button h3 i {
    font-family: cursive;
    font-size: medium;
    border: solid 3px black;
    width: 190px;
    height: 20px;
    justify-content: center;
}