* {
    margin: 0px;
    padding: 0px;
}

.imagen {
    width: 500px;
    margin: auto;
    display: block;
    margin-bottom: 32px;
}

main {
    width: 100%;
    height: 80vh;
}

img {
    margin-top: 50px;
    width: 450px;
    min-width: 200px;
    height: 380px;
    border: solid black 5px;
}