a {
    font-family: cursive;
    font-size: 25px;
    color: rgb(140, 36, 36);
    text-decoration-line: none;
}

a i {
    font-size: 40px;
    margin: 5px;
    color: rgb(140, 36, 36);
}

main {
    width: 100%;
    height: 80%;
}

p {
    font-family: cursive;
    font-size: 1.3em;
    font-weight: bolder;
}

.fotolechosa img {
    width: 320px;
    height: 300px;
    border-radius: 50px;
    border: solid 3px black;
}

.ingredientes {
    font-family: cursive;
    font-size: large;
    display: inline;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 30px;
}

.fondo_texto {
    width: 600px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background-color: rgba(239, 224, 206, 0.6);
}

.procedimiento {
    width: 100%;
    font-family: cursive;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(140, 36, 36);
    margin: 20px 0px;
}

.container {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px;
    gap: 20px;
    place-items: center;
}

.detalles {
    margin: 50px 0px 0px 40px;
}

article i {
    font-size: 16px;
}

.grid{
    display: grid;
    width: 98%;
    height: 100%;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: repeat(3, 300px);
    gap: 60px;
    place-content: center;
    margin: 20px;
}

.container_uno {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.container_uno img {
    width: 150px;
    height: 150px;
    border: solid 2px black;
    border-radius: 30px;
}

.container_uno li {
    font-family: cursive;
    font-size: 1em;
    background-color: rgba(239, 224, 206, 0.6);
}

.container_dos {
    width: 100%;
    height: auto;
    display: flex;
    margin: 30px 0 50px;
}

.container_dos {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.container_dos img {
    width: 150px;
    height: 150px;
    border: solid 2px black;
    border-radius: 30px;
}

.container_dos li {
    font-family: cursive;
    font-size: 1em;
    background-color: rgba(239, 224, 206, 0.6);
}

.container_tres {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.container_tres img {
    width: 150px;
    height: 150px;
    border: solid 2px black;
    border-radius: 30px;
}

.container_tres li {
    font-family: cursive;
    font-size: 1em;
    background-color: rgba(239, 224, 206, 0.6);
}

.container_cuatro {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.container_cuatro img {
    width: 150px;
    height: 150px;
    border: solid 2px black;
    border-radius: 30px;
}

.container_cuatro li {
    font-family: cursive;
    font-size: 1em;
    background-color: rgba(239, 224, 206, 0.6);
}


.container_cinco {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.container_cinco img {
    width: 150px;
    height: 150px;
    border: solid 2px black;
    border-radius: 30px;
}

.container_cinco li {
    font-family: cursive;
    font-size: 1em;
    background-color: rgba(239, 224, 206, 0.6);
}

.container_seis {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.container_seis img {
    width: 150px;
    height: 150px;
    border: solid 2px black;
    border-radius: 30px;
}

.container_seis li {
    font-family: cursive;
    font-size: 1em;
    background-color: rgba(239, 224, 206, 0.6);
}

@media screen and (max-width: 600px) {
    header {
        height: 8vh;
    }

    main {
        height: 86%;
    }

    h1 {
        font-size: 20px;
        margin-left: 10px;
    }

    a {
        font-size: 12px;
    }

    a i {
        font-size: 20px;
    }

    .fotolechosa img {
        width: 180px;
        height: 180px;
    }

    article i {
        font-size: 10px;
    }

    .ingredientes p {
        font-family: cursive;
        font-size: 13px;
        margin: 5px;
    }

    .ingredientes li {
        font-family: cursive;
        font-size: 10px;
        margin: 5px;
    }

    .detalles {
        margin: 10px;
    }

    .fondo_texto {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
        background-color: rgba(239, 224, 206, 0.6);
        display: grid;
        place-items: center;
    }

    .procedimiento {
        font-size: 1.5em;
    }

    .container {
        width: 100%;
        grid-template-columns: 350px;
        grid-template-rows: 250px 400px;
        place-items: center;
    }

    .grid {
        width: 100%;
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: 160px 200px 260px;
        column-gap: 20px;
        margin: 0px;
    }

    .grid li {
        font-size: 10px;
    }

    .container_uno img {
        width: 70px;
        height: 70px;
        border-radius: 20px;
    }

    .container_uno li {
        font-size: 9px;
    }

    .container_dos img {
        width: 70px;
        height: 70px;
        border-radius: 20px;
    }

    .container_dos li {
        font-size: 9px;
    }

    .container_tres img {
        width: 70px;
        height: 70px;
        border-radius: 20px;
    }

    .container_tres li {
        font-size: 9px;
    }

    .container_cuatro img {
        width: 70px;
        height: 70px;
        border-radius: 20px;
    }

    .container_cuatro li {
        font-size: 9px;
    }

    .container_cinco img {
        width: 70px;
        height: 70px;
        border-radius: 20px;
    }

    .container_cinco li {
        font-size: 9px;
    }

    .container_seis img {
        width: 70px;
        height: 70px;
        border-radius: 20px;
    }

    .container_seis li {
        font-size: 9px;
    }
}

@media screen and (min-width: 680px) and (max-width: 1200px) {
    header {
        height: 8vh;
    }
    
    main {
        height: 85%;
    }
    
    h1 {
        font-size: 28px;
        margin-left: 10px;
    }
    
    a {
        font-size: 20px;
    }
    
    a i {
        font-size: 33px;
    }
    
    .fotolechosa img {
        width: 200px;
        height: 220px;
    }
    
    article i {
        font-size: 15px;
    }
    
    .ingredientes_uno p {
        font-family: cursive;
        font-size: 18px;
        margin: 5px;
    }
    
    .ingredientes_uno li {
        font-family: cursive;
        font-size: 20px;
        margin: 5px;
    }
    
    .detalles {
        margin: 20px;
    }
    
    .fondo_texto {
        width: 300px;
        height: fit-content;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-block-end: 10px;
    }
    
    .procedimiento {
        font-size: 30px;
    }
    
    .container {
        width: 100%;
        grid-template-columns: 250px;
        grid-template-rows: 250px 400px;
        place-content: center center;
    }
    
    .grid {
        width: 100%;
        grid-template-columns: repeat(2, 320px);
        grid-template-rows: repeat(3, 250px);
        column-gap: 40px;
        margin: 40px 0px;
    }
    
    .grid li {
        font-size: 20px;
    }
    
    .container_uno img {
        width: 120px;
        height: 120px;
        border-radius: 20px;
    }
    
    .container_uno li {
        font-size: 15px;
    }
    
    .container_dos img {
        width: 120px;
        height: 120px;
        border-radius: 20px;
    }
    
    .container_dos li {
        font-size: 15px;
    }
    
    .container_tres img {
        width: 120px;
        height: 120px;
        border-radius: 20px;
    }
    
    .container_tres li {
        font-size: 15px;
    }
    
    .container_cuatro img {
        width: 120px;
        height: 120px;
        border-radius: 20px;
    }
    
    .container_cuatro li {
        font-size: 15px;
    }
    
    .container_cinco img {
        width: 120px;
        height: 120px;
        border-radius: 20px;
    }
    
    .container_cinco li {
        font-size: 15px;
    }
    
    .container_seis img {
        width: 120px;
        height: 120px;
        border-radius: 20px;
    }
    
    .container_seis li {
        font-size: 15px;
    }
    
    footer {
        height: 6vh;
    }
    
    footer li {
        font-size: 20px;
    }
    
    .copyright {
        font-size: 10px;
    }
    }