* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../imagenes/fondo2.jpeg);
    background-size: 100%;
    background-attachment: fixed;
}

header {
    position: relative;
    width: 100%;
    height: 10vh;
    background-image: url(../imagenes/logo\ maqueta\ -\ copia\ \(2\).jpg);
}

h1 {
    font-family: cursive;
    font-size: 40px;
    color: rgb(140, 36, 36);
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.6);
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 40px;
}

.navegacion {
    margin: 5px;
    border: solid 3px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.navegacion :hover {
    box-shadow: 8px 8px 10px 4px rgba(41, 41, 41, 0.61);
    cursor: pointer;
}

a {
    font-family: cursive;
    font-size: 25px;
    color: rgb(140, 36, 36);
    text-decoration-line: none;
}

footer {
    position: relative;
    width: 100%;
    height: 10vh;
    background-image: url(../imagenes/logo\ maqueta\ -\ copia.jpg);
    justify-content: flex-end;
    align-items: flex-end;
}

footer ul {
    display: flex;
    flex-direction: row;
}

footer li {
    list-style-type: none;
    font-family: cursive;
    font-size: 25px;
    color: black;
    margin: 3px;
}

footer i {
    color: rgb(140, 36, 36);
}

.copyright {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-small;
}

@media screen and (min-width: 680px) and (max-width: 1200px) {
    
}

@media screen and (min-width:  280px) and (max-width: 679px) {
    header{
        width: 100%;
        height: 8vh;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    h1 {
        font-size: 20px;
        margin-left: 10px;
    }

    a {
        font-size: 12px;
    }

    .navegacion {
        margin: 2px;
    }

    footer {
        height: 8vh;
    }

    footer li {
        font-size: 16px;
    }

    .copyright {
        font-size: 7px;
    }
}